*{
     box-sizing: border-box;
}
body {
  background-color: rgb(177, 177, 177);
  margin: 0;
  padding: 0;
}
#box {
  background-color: rgb(30, 30, 235);
  padding: 10px 10px 10px 10px;
  margin: 30px;
  width: 700px;
}
#content {
  padding: 10px;
  background-color: rgb(11, 201, 235);
  color: rgb(241, 7, 7);
  margin: 30px;
}
h1 {
  margin: 30px;
}
